/* --------------------------------------------- Estilos Generales ----- */
body {
	font-family: 'Poppins', sans-serif;
	font-size: .95em;
}

h1, h2, h3, h4 {
	font-family: 'Changa', sans-serif !important;
  	text-transform: uppercase;
	font-weight: 800 !important;
}

h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}


/* ---------------------------------- Formulario de Suscripcion ----- */

.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline form button {
    font-family: 'Changa', sans-serif;
}

#subscribe-email input {
    font-family: 'Poppins', sans-serif;
}
